@page "/old"
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>

<h1>PlanFinder</h1>
<h2>your Search Engine for Dwg files </h2>
<button class="btn btn-primary" >Search</button>

Welcome to your new app.
<h1>Welcome to Home</h1>
<a href="/Index">Go to Index Razor Page</a>
