@page "/"

<PageTitle>Web Tails</PageTitle>

<h1>Hello, world!</h1>

Welcome to dwg and pdf indexing.
<br />
The software can index dwg and pdf files and all other text files to elasticsearch
and allow searching.

<h2>Usage:</h2>

First go to File Crawler tab add a list of folders to search in.
<br />
Than press "Start crawling" and all the files on those folders will be indexed.
<br />

While indexing you can start searching on the Search Page.

<h2>Requirements:</h2>
ElasticSearch installed and working on local host.

<h2>Acnolagements:</h2>
    Me and myself.


